

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}



@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}


.overall {
  display: flex;
  flex-direction: column;

  align-items: center;


  margin-left: 10vw;
  margin-right: 10vw;
}

.chakraheading {
  margin-top: 5vh;
  border: 5px solid red;
}

.chakratext {
  margin-top: 3vh;
  margin-bottom: 5vh;
  border: 5px solid red;
}

.gamecomp {
  border: 5px solid red;
  width: 80vw;
  height: 90vh;
}