

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}



@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}


.overall {
  display: flex;
  flex-direction: column;

  align-items: center;


  margin-left: 10vw;
  margin-right: 10vw;
}

.chakraheading {
  margin-top: 5vh;
  border: 5px solid red;
}

.chakratext {
  margin-top: 3vh;
  margin-bottom: 5vh;
  border: 5px solid red;
}

/* The following is the explanation on what the position: relative is from ai:
Any absolutely‑positioned children should position themselves relative to this element. */
.gamecomp {
  border: 5px solid red;
  width: 100%;
  height: 80vh;

  position: relative;
}


/* From ai: When you place something from something at top: 50% and left: 50%, the top left corner of the element sits
at the centre of the parent. The transform: translate... shifts the child element so that its centre aligns with the
parents centre.*/
.playbutton {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pausebutton {
  border: 5px solid blue;
}


.gamecompfull {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  background-color: yellow;

  border: 5px solid red;
}


.gameinnerdiv {
  width: 100%;
  height: 100%;

  border: 7px solid blue;

}

.bottomright {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #73AD21;
}

.bubble1 {
  border: 3px solid #73AD21;

  position: absolute;
  top: 25%;
  left: 45%;
}

.bubble2 {
  border: 3px solid #73AD21;

  position: absolute;
  top: 75%;
  left: 45%;
}